<div style="margin-bottom: 1.5rem; display: flex; justify-content: flex-end;">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
            Donation Menu
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="{% url 'donations:my_listings' %}">My Listings</a></li>
            <li><a class="dropdown-item" href="{% url 'donations:pending_requests' %}">Pending Requests</a></li>
        </ul>
    </div>
</div>
